global:
  scrape_interval: 10s
  evaluation_interval: 15s
  external_labels:
    monitor: 'my-project'

alerting:
  alertmanagers:
    - static_configs:
      - targets: ['alertmanager:9093']

rule_files:
  - "operators_map.yml"
  - "alerts_rules.yml"

scrape_configs:
  - job_name: 'cadvisor'
    static_configs:
      - targets: ['cadvisor:8080']

  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'ethereum_validators_monitoring'
    static_configs:
      - targets: ['ethereum-validators-monitoring:8080']
    metric_relabel_configs:
      - source_labels: [ nos_module_id, nos_id ]
        target_label: nos_global_index
