name: Build and Publish Docker Image

on:
  workflow_dispatch:
    inputs:
      tag:
        description: "Docker image tag (e.g. 4.6.0)"
        required: true
        type: string

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Check out repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0       # fetch all history and tags so we can checkout a tag
          ref: ${{ inputs.tag }}  # checkout the tag supplied via workflow_dispatch

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            gatewayfm/ethereum-validators-monitoring:${{ inputs.tag }}
            gatewayfm/ethereum-validators-monitoring:latest
